<ion-view view-title="Settings">
  <ion-content>
    <ion-list>
    	<ion-toggle ng-model="settings.pushMessages" ng-change="togglePush();">
        	Enable Push Messages
    	</ion-toggle>
    	<ion-toggle ng-model="settings.catMessages" ng-change="addPushCategory('cats');">
        	Enable Cats Messages
    	</ion-toggle>
    	<ion-toggle ng-model="settings.dogMessages" ng-change="addPushCategory('dogs');">
        	Enable Dogs Messages
    	</ion-toggle>
    </ion-list>
  </ion-content>
</ion-view>